/*Обнуление
==================================================================*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 0;}

/*Шрифты
==================================================================*/
@font-face {
	font-family: 'ProximaNova';
	src: url('../../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

*{
	font-family: 'ProximaNova';
}

/* Оболочка и контейнер
==================================================================*/
.wrapper {
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	width: 1230px;
	padding: 0 15px;
}

/* HEADER
==================================================================*/
.header {
	text-transform: uppercase;
	padding-top: 30px;
	height: 794px;
}

.header__logo {
	display: flex;
	flex-direction: row;
	width: 160;
	height: 31px;
	align-items: center;
	justify-content: center;
}

.logo__text {
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	color: #1E2A36;
	padding-left: 5px;
}

.header__menu {
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	flex-direction: row;
}

.header__first__line{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.menu__link {
	color: #322B2B;
	padding: 0 35px;
	display: block;
}

.menu__link__1{
	color: #322B2B;
}

.menu__link:nth-child(1) {
	padding: 0 35px 0 0;
}

.menu__link:nth-child(5) {
	padding: 0 0 0 35px;
}


.menu__link:after {
	display: none;
	content: "";
	width: auto;
	height: 1px;
	background: rgba(38, 39, 43, 0.3);
}

.menu__link:hover:after {
	display: block;
	margin: -1px;
	border: 1px solid #322B2B;
	transition: all .3ms;
	-webkit-transition: all .3ms;
	-moz-transition: all .3ms;
	-ms-transition: all .3ms;
	-o-transition: all .3ms;
}

.menu__link__1:after {
	display: block;
	content: "";
	width: auto;
	height: 1px;
	margin-top: 3px;
	background: rgba(38, 39, 43, 0.3);
}

.menu__link__1:hover:after {
	margin-top: 1px;
	border: 1px solid #C94632;
	transition: all .3ms;
	-webkit-transition: all .3ms;
	-moz-transition: all .3ms;
	-ms-transition: all .3ms;
	-o-transition: all .3ms;
}

/* Второая линия хэдера
==================================================================*/

.container__second {
	margin-top: 31px;
	position: relative;
	text-transform: uppercase;	
}

/* Слайдер 
==================================================================*/
.wrapper__sliderimg{
	position: relative;
}

.slider {
	margin: 0 0 0 403px;
	width: 794px;
	height: 705px;	
}

.slider__items{
	display: flex;
	flex-direction: row;
}

.item img{
	width: 794px;
	height: 705px;
}

.slick-slider{}

/* Слайдер запущен */
.slick-slider.slick-initialized{}

/* Слайдер с точками */
.slick-slider.slick-dotted{
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track{
	display: flex;
	flex-direction: row;
}

/* Слайд */
.slick-slide{
	width: 798px;
	height: 705px;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}

/* Слайд основной */
.slick-slide.slick-current{}

/* Слайд по центру */
.slick-slide.slick-center{}

/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slider .slick-arrow{
	position: absolute;
	z-index: 10;

}

/* Стрелка влево */
.slider .slick-arrow.slick-prev{
	width: 70px;
	height: 72px;
	background-image: url(../img/elements/btnleft.svg);
	bottom: 0;
	left: 403px;
}

/* Стрелка вправо */
.slider .slick-arrow.slick-next{
	background-image: url(../img/elements/btnright.svg);
	width: 70px;
	height: 72px;
	bottom: 0;
	right: 657px;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}

/* Активная точка */
.slick-dots li.slick-active{}

/* Элемент точки */
.slick-dots li button{}


/* Третий блок и соц сети
==================================================================*/
.group{
	position: relative;
}

.group__links{
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 1225px;
	bottom: 100px;
	padding-right: 10px;
}

.group__link{
	padding: 35px 0;
	display: block;
}

.group__link:first-child{
	padding-top:0;
}

.group__link:last-child{
	padding-bottom:0;
}

/* Текст и кнопка второй линии
==================================================================*/
.container__title{
	position: absolute;
	bottom:170px;
}

.title{
}

.title__first {
	font-weight: 700;
	font-size: 76px;
	line-height: 83px;
	letter-spacing: 3%;	
	color: #C94632;
}

.subtitle {
	width: 154px;
}

.subtitle_second {
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-transform: none;
	margin: 15px 0 44px 0;
	width: 160px;
	height: 42px;
}

.btn {
	width: 178px;
	height: 44px;
	border: 1px solid #322B2B;
	box-sizing: border-box;
	background: #fff;
}

.btn__link {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #322B2B;
}

.btn__link:hover {
}

/* Content
==================================================================*/
.section__sheet{
	display: flex;
}

.about__us{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 200px;
}

.adout__item{
	font-size: 62px;
	font-weight: 700;
	line-height: 68px;
	letter-spacing: 0,02em;
	text-transform: uppercase;
	color: #C94632;
	width: 520px;
}

.about__p{
	font-weight: 600;
	font-size: 28px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: rgba(57, 43, 73, 0.3);
	margin: 150px 125px 0 0;
}

/* Таблица
==================================================================*/
.table{
	display: flex;
	flex-direction: column;
	padding-left: 80px;
}

.table__title{
	font-weight: 600;
	font-size: 48px;
	line-height: 110%;
	text-transform: uppercase;
	color: #C94632;
	padding-top: 626px;
}

.table__subtitle{
	font-weight: normal;
	font-size: 18px;
	line-height: 110%;
	text-transform: capitalize;
	color: rgba(50, 43, 43, 0.8);
}

.table__sheet{
	margin-top: 80px;
	padding: 0;
	width: 600px;
	height: 730px;
}

.table__sheet a{
	color: rgba(38, 39, 43, 0.5);
}

.table__sheet a{
	font-weight: normal;
	font-size: 22px;
	line-height: 110%;
	text-transform: capitalize;
	color: rgba(38, 39, 43, 0.5);
	position: relative;
	display: block;
}

.head__coach span{
	position: absolute;
	display: none;
}

.head__coach:hover span{
	left: -550px;
	top: 40px;
	transition:2s;
	-webkit-transition:2s;
	-moz-transition:2s;
	-ms-transition:2s;
	-o-transition:2s;
	display: block;
}

.team span{
	position: absolute;
	display: none;
}

.team:hover span{
	display: block;
	left: -550px;
	top: -47px;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
}

.equipment span{
	position: absolute;
	display: none;
}

.equipment:hover span{
	display: block;
	left: -550px;
	top: -133px;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
}

.stadium span{
	position: absolute;
	display: none;
}

.stadium:hover span{
	display: block;
	left: -550px;
	top: -219px;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
}

.group__link:first-child{
	padding-top: 110px;
}

.table__sheet li:before {
	display: block;
	content: "";
	height: 1px;
	width: 597px;
	background: rgba(38, 39, 43, 0.3);
	transition: all .3ms;
	-webkit-transition: all .3ms;
	-moz-transition: all .3ms;
	-ms-transition: all .3ms;
	-o-transition: all .3ms;
}

.table__sheet li:first-child:before{
	height: 1.5px;
}

.sheet:after {
	display: block;
	content: "";
	height: 1px;
	width: 597px;
	background: rgba(38, 39, 43, 0.3);
	transition: all .3ms;
	-webkit-transition: all .3ms;
	-moz-transition: all .3ms;
	-ms-transition: all .3ms;
	-o-transition: all .3ms;
}

.table__sheet li:last-child:after{
	height: 2px;
}

.sheet:hover:before{
	border: 1px solid #322B2B;
}

.sheet:hover:after{
	border: 1px solid #322B2B;
}

.sheet p{
	display: inline;
	font-weight: normal;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: rgba(39, 39, 39, 0.4);
	padding-right: 29px;
}

.sheet:hover p{
	color:#C94632;
}

.sheet a{
	padding: 30px;
}

.sheet a:hover{
	color:#C94632;
}

/* Кнопка
==================================================================*/
.oval__wrapper{
	position: relative;
}

.oval {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 123px;
	height: 77px;
	background: #322B2B;
	-moz-border-radius: 123px / 77px;
	-webkit-border-radius: 123px / 77px;
	border-radius: 123px / 77px;
	position: absolute;
	left: 450px;
	top: -60px;
}

.oval a{
	color: #fff;
	padding: 30px;
}

/* Новости
==================================================================*/
.title_section__two{
	margin: 230px 0 110px 0;
	font-weight: bold;
	font-size: 62px;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #C94632;
}

.section__news{
	display: flex;
}

.news__content{
	display: flex;
	flex-direction: row;
}

.block__one {
}

.item__img {
	width: 580px;
	height: 360px;
}

.item__title{
	width: 490px;
	height: 76px;
	font-weight: bold;
	font-size: 32px;
	line-height: 120%;
	text-transform: uppercase;
	color: #322B2B;
	margin-top: 20px;
}

.item__sheet{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-top: 73px;
	font-weight: normal;
	font-size: 20px;
	line-height: 110%;
	text-transform: capitalize;
	color: #322B2B;
}

.item__sheet li:first-child{
	padding-top: 20px;
}

.item__sheet li:last-child{
	padding: 20px 0;
}

.item__sheet li:first-child:after{
	content: '';
	display: block;
	content: "";
	height: 1px;
	width: 580px;
	background: rgba(38, 39, 43, 0.3);
	margin-top: 20px;
}

.arrow{
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 528px;
}

.arrow img{
	margin: 25px 0;
}


.block__two h3{
	width: 268px;
	color: #322B2B;
	font-weight: bold;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.item__shop{
	display: flex;
	flex-direction: row;
	margin: 0 0 40px 40px;
}

.shop__img{
	width: 260px;
	height: 294px;
}

.shop__title{
	color: #322B2B;
	margin-left: 20px;
}

.shop__title{
	width: 266px;
	height: 163px;
}

.shop__title p{
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	padding: 30px 0;
}

.item__league {
	display: flex;
	flex-direction: row;
	margin: 40px 0 0 40px;
}

.league__img {
	width: 260px;
	height: 294px;
}

.league__title {
	margin-left: 20px;
	width: 266px;
	height: 163px;
}

.league__title p{
	padding: 30px 0;
}

/* Афиша
==================================================================*/
.title__section__three h2{
	margin: 200px 0 180px 0;
	font-weight: bold;
	font-size: 62px;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #C94632;
}

.section__poster {
	display: flex;
	flex-direction: column;
	position: relative;
}

.block__poster span{
	color: #C94632;
}

.poster {
	width: 280px;
	height: 128px;
}

.poster h6{
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.poster p{
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	text-transform: capitalize;
	color: #322B2B;
	margin-bottom: 30px;
}

.poster a{
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: #322B2B;
}

.under__poster{
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 140px;
	top: 10px;
}

.poster__two{
	margin: 0 159px 0 176px;
}

.unde__two{
	margin: 0px 217px 0px 259px;
}

.block__poster {
	display: flex;
	flex-direction: row;
}

.calendar{
	margin: 140px 0 200px 1070px;
	width: 150px;
	height: 14px;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.calendar a{
	color: #392B49;
}


/*Слайдер Видео
==================================================================*/

.wrapper__slider{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Ограничивающая оболочка */
.slidervid .slick-list {
	width: 970px;
	height: 600px;
}

.slidervid{

}

.slidervid__item{

}

/* Стрелка */
.slidervid__item .slider .slick-arrow{
}

/* Стрелка влево */
.slick-arrow.slick-prev{
	position: absolute;
	display: block;
	background: #fff;
	background-image: url(../img/elements/Arrowvidl\ 6.svg);
	width: 42px;
	height: 12px;
	font-size: 0;
	left: 0;
	bottom: 50%;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
	position: absolute;
	display: block;
	background: #fff;
	background-image: url(../img/elements/Arrowvidr\ 5.svg);
	width: 42px;
	height: 12px;
	font-size: 0;
	right: 0;
	bottom: 50%;
}

/* Стрелка вправо */
.instagram{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 200px;
}

.instagram__item{
	width: 275px;
	height: 261px;
}

.instagram__item__title{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.instagram__item__title span{
	font-weight: normal;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.03em;
text-transform: capitalize;
color: #EA2503;
margin-top: 49px;
}

.instagram__item__title h5{
	font-weight: bold;
	font-size: 18px;
	line-height: 120%;
	color: #322B2B;
	margin: 6px 0 0 0;
}

.instagram__btn{
	display: block;
	margin-top: 53px;
}

.instagram__btn a{
	font-weight: bold;
	font-size: 18px;
	line-height: 120%;
	color: #322B2B;
	padding: 20px 75px;
	background: #fff;
	border: #1E2A36 1px solid;
}

/*Спонсоры Видео
==================================================================*/
.wrapper__sponsors{
	background: #fff;
	background-image: url(/img/sponsors/Rectangle\ 60.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	margin-top: 25px;
}

.sponsors{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 996px;
	height: 270px;
	margin: 337px auto ;
}

.sponsors__item{
	width: 190px;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/*Подвал
==================================================================*/
.footer{
	background: #303135;
	background-size: 100%;
	height: 422px;
}

.footer__item{
	width: 120px;
	height: 250px;
	margin: 0 90px; 
	padding-top: 76px;
	color: #F3F0F0;
}

.h5 {
	margin-bottom: 33px;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-transform: capitalize;
}

.footer__item a{
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	text-transform: capitalize;
	color: #F3F0F0;
	margin: 17px 0;
}

.footer__item:nth-child(1){
	margin-left: 0;
}

.footer__btn{
	margin: 0 0 0 135px;
}

.btn__footer{
	width: 68px;
	height: 62px;
	background: #303135;
	
}

.container__footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
